<html>
<head>
    <meta charset="utf-8">
    <title>微信文章分享追踪</title>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title class="oTitle">微信红包文章分享追踪</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/assets/default/css/analyse.css')}}"/>
    <style>
       
        .result-header1{
            background-color: #393d42;
           height:44px;
        }
        .result-header1 h4{
            color:#ffffff;
            text-align: center;
            position: relative;
            top: 14px;
        }
       .main-centert {
            position: absolute;   
            top: 50%;   
            left: 50%;   
       }
       #start{
           font-size:14px;
       }
       #end{
           font-size:14px;
       }
       .kuai_head{
           margin:0px;
       }
       .kuai_head span{
           position: relative;
           left:10px;
       }
       
       .link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
      }

      #licensing {
        fill: green;
      }

      .link.licensing {
        stroke: green;
      }

      .link.resolved {
        stroke-dasharray: 0,2 1;
      }

      circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 1.5px;
      }

      text {
        font: 8px Microsoft YaHei;
        pointer-events: none;
        /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
      }

      .linetext {
          font-size: 12px Microsoft YaHei;
      }
      .fontLinksize{
          font-size:4px;;
      }

      .account-info-tex span{
          word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
      }

    </style></head>

<body>
<div>
    <div class="result-header1">
        <h4>微信红包文章分享追踪</h4>
        <div style="overflow:hidden;width:0;height:44px;"><img src="" alt=""/></div>
    </div>
    <div class="result-total borderTop">
        <!--<span>微信红包分享统计:</span>-->
        <dl>
            <dt id="count">0</dt>
            <dd>微信红包分享统计</dd>
        </dl>

    </div>
        <div class="kuai_head borderBottom" style="background-color: #ffffff;">
            <span class="kuai_head_title">1F</span> <span class="space" id="d3js">文章传播路径图</span>
        </div>
        <div class="oRelease" style="background-color: #ffffff;">
            <!--<p class="kuai-title">文章轨迹</P>-->
            <div id="main" data-highcharts-chart="2"style="min-height:500px; _height:500px;">      
            </div>

        </div>

</div>
<script src="./jquery.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="personD3.js"></script>
<script>
 
</script>
</body>
</html>